

h1{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-transform: uppercase;
  font-size: 4em;
  text-align: center;
  color: crimson;
}
div{
  padding: 1em;
  margin: auto;
  max-width: 25em;
}
.bi-search,
.bi-house,
.bi-check-all{
  font-size: 2.5em;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-transform: uppercase;
  font-style: normal;
}
.icono_verde{
  font-size: 3em;
  color: forestgreen;
  vertical-align: bottom;
}
.icono_azul{
  font-size: 3em;
  color: cornflowerblue;
  vertical-align: bottom;
}
.icono_rojo{
  font-size: 3em;
  color: crimson;
  vertical-align: bottom;
}