<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>SAP</title>
  </head>
  <body>
    <div>
      <h1>Agregar Persona</h1>
      <div>
        <form method="POST">
          {{forma.csrf_token}}
          <p>
            {{forma.nombre.label}} <br/>
            {{forma.nombre(size=30)}}
          </p>
          <p>
            {{forma.apellido.label}} <br/>
            {{forma.apellido(size=30)}}
          </p>
          <p>
            {{forma.email.label}} <br/>
            {{forma.email(size=30)}}
          </p>
          <p>
            {{forma.enviar()}}
          </p>
        </form>
      </div>
      <br/>
      <a href="{{url_for('inicio')}}">Regresar</a>
    </div>
  </body>
</html>